NODE_ENV=production
PORT=4000
BACKEND_URL=https://skincarewithhappy-backend.vercel.app
FRONTEND_URL=https://skincare-with-happy-frontend.vercel.app
CORS_ORIGIN=https://skincare-with-happy-frontend.vercel.app
MONGODB_URI=mongodb+srv://Skincare_With_Happy:eV9c6SFNAY5IkHuY@skincarewithhappy.bk6znqh.mongodb.net/skincare_with_happy?retryWrites=true&w=majority&appName=SkincareWithHappy
JWT_SECRET=9bb5db93884a9020b039d568e630df4af92650d993a69a01b496921d30dc41641a08b77513959e31b26efb27552554072fefee9b7db755a5ff729f1251e6f1b9
ADMIN_NAME=Skincare With Happy Admin
ADMIN_EMAIL=admin@skincarewithhappy.com
ADMIN_PASSWORD=
PAYSTACK_PUBLIC_KEY=YOUR_PAYSTACK_PUBLIC_KEY
PAYSTACK_SECRET_KEY=YOUR_PAYSTACK_SECRET_KEY
PAYSTACK_CURRENCY=NGN
PAYSTACK_CALLBACK_URL=https://skincarewithhappy-backend.vercel.app/api/paystack/callback
PAYSTACK_WEBHOOK_URL=https://skincarewithhappy-backend.vercel.app/api/paystack/webhook
USD_TO_NGN_RATE=1500
PAYMENT_RESERVE_RATE=4
ADMIN_WITHDRAWAL_BANK_NAME=Moniepoint
ADMIN_WITHDRAWAL_ACCOUNT_NUMBER=6011707746
ADMIN_WITHDRAWAL_ACCOUNT_NAME=Nkechi happiness
